:root {
    --primary-color: #ac3050;
    --primary-color-2: rgba(172, 48, 79, 0.5);
    --secondary-color: #e84e74;
    --tertiary-color: #ffc0cb;
    --background-color: #9d9d9d;
    --background-color-2: rgba(157, 157, 157, 0.9);
    --text-color: #1f1e1e;
    --text-color-2: #fcf5e5;
    --shadow-color: #0000004d;
}
