.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    min-height: calc(100dvh - 80px);
    padding: 20px 0;
}

.sectionTitulo {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionTitulo h2 {
    color: var(--text-color-2);
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.sectionTitulo h3 {
    color: var(--text-color);
    text-align: justify;
    width: 320px;
    font-size: 16px;
}

.contenido1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    margin: 20px 0;
    width: 312px;
}

@media (min-width: 576px) {
    .sectionTitulo h2 {
        font-size: 34px;
    }

    .sectionTitulo h3 {
        width: 417px;
    }

    .form {
        width: 360px;
    }
}

@media (min-width: 768px) {
    .sectionTitulo h2 {
        font-size: 42px;
    }

    .sectionTitulo h3 {
        width: 619px;
    }

    .form {
        width: 360px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        justify-content: flex-end;
        padding: 0px 0;
    }

    .contenido1 {
        gap: 20px;
    }

    .contenido1 img {
        user-select: none;
        pointer-events: none;
        filter: drop-shadow(0px 0px 50px var(--secondary-color));
        width: 400px;
        margin-bottom: -23px;
    }
}

@media (min-width: 1200px) {
    .sectionTitulo h2 {
        font-size: 48px;
    }

    .sectionTitulo h3 {
        width: 700px;
    }

    .form {
        width: 400px;
    }

    .contenido1 img {
        margin-bottom: -28px;
    }
}

@media (min-width: 1400px) {
    .sectionTitulo h2 {
        font-size: 68px;
    }

    .sectionTitulo h3 {
        font-size: 18px;
        width: 900px;
    }

    .contenido1 {
        margin-top: 20px;
    }

    .form {
        width: 500px;
        margin: 40px 0;
    }

    .contenido1 img {
        width: 500px;
        margin-bottom: -2px;
    }
}

@media (min-width: 1700px) {
    .sectionTitulo h2 {
        font-size: 76px;
    }

    .contenido1 img {
        width: 590px;
        margin-bottom: 0px;
    }
}
